# IMDB Movie Review Classification â€“ Sentiment Analysis
## By Cyril Michino Chege, 3117300, Bocconi University

In [2]:
import nltk
import warnings
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

warnings.filterwarnings('once')
%matplotlib inline

## Exploratory Data Analysis

In [5]:
df = pd.read_csv('data/train.csv')
df.head()

   response                                             review
0         2  A wonderful little production. <br /><br />The...
1         1  Basically there's a family where a little boy ...
2         1  This show was an amazing, fresh & innovative i...
3         1  So im not a big fan of Boll's work but then ag...
4         1  Kind of drawn in by the erotic scenes, only to...